.cta {
  background-color: var(--base-100);
}

.cta .why-choose {
  font-size: 1.15rem !important; /* increased from sm (0.85rem) */ 
}

.cta .container {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding-bottom: 10rem;
}

.cta .cta-copy {
  width: 70%;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  padding: 4rem 0;
}

.cta .cta-copy .cta-col {
  flex: 1;
}

.cta .cta-copy .cta-col:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cta .cta-copy .cta-col:nth-child(2) p.lg {
  font-size: 1.30rem;
  line-height: 1.4;
  max-width: 90%;
  text-align: justify;
}

.cta .cta-card {
  margin: 0 auto;
  width: 70%;
  background-color: #2d2d2d;
  color: #e5e7eb;
  padding: 2rem;
  border-radius: 1rem;
}

.cta .cta-card .cta-card-copy {
  display: flex;
  gap: 2rem;
}

.cta .cta-card .cta-card-copy .cta-card-col {
  flex: 1;
}

.cta .cta-card .cta-card-copy .cta-card-col:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cta .cta-card .cta-card-copy .cta-card-col:nth-child(2) p {
  margin-bottom: 2rem;
}
.cta .cta-card .cta-card-copy .cta-card-col:nth-child(2) p:nth-child(2) {
  margin-bottom: 4rem;
}

@media (max-width: 1000px) {
  .cta .cta-copy {
    width: 100%;
    flex-direction: column;
  }

  .cta .cta-card {
    width: 100%;
  }

  .cta .cta-card .cta-card-copy {
    flex-direction: column;
  }

  .cta .container {
    gap: 2rem;
  }
}
