.project-page {
    background-color: var(--base-100);
    padding-top: 8rem;
}

.project-page h3 {
    font-size: 4rem;
}

.project-page .project-header {
    width: 100vw;
    height: 50svh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5em;
    padding-bottom: 3em;
    text-align: center;
}

.project-page .project-header p {
    margin-bottom: 2rem;
}

.project-page .project-banner-img {
    position: relative;
    width: 100%;
    height: 100svh;
    overflow: hidden;
}

.project-page img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-page .project-banner-img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.project-page .project-details {
    width: 55%;
    padding: 8rem 1rem 2rem 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4rem;
    margin-bottom: 4rem;
}

.project-page .details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 4rem;
}

.project-page .project-images {
    background-color: var(--fg);
    color: var(--bg);
    padding: 4em 2em;
}

.project-page .project-images-container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.project-page .project-img {
    position: relative;
    width: 100%;
    height: 80svh;
    overflow: hidden;
    border-radius: 1rem;
    overflow: hidden;
}

.project-page .project-img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.project-page .next-project {
    width: 100vw;
    height: 100svh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    text-align: center;
}

.project-page .next-project-img {
    position: relative;
    width: 35%;
    height: 400px;
    overflow: hidden;
    border-radius: 1rem;
    overflow: hidden;
}

.project-page .next-project-img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.project-page .next-project-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

@media (max-width: 1000px) {
    .project-page {
        padding-top: 6rem;
        /* Slightly reduced top padding */
    }

    .project-page .project-header {
        height: auto;
        /* Remove fixed height */
        min-height: 40vh;
        /* Minimum height for balance */
        padding: 4em 1.25em 2em 1.25em;
        justify-content: center;
        /* Center align vertically */
    }

    .project-page .project-banner-img {
        height: auto;
        aspect-ratio: 16/9;
        /* Landscape banner */
    }

    .project-page .project-details {
        width: 100%;
        padding: 4em 1.25em;
        gap: 3em;
    }

    .project-page h3 {
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .project-page .project-images {
        padding: 4em 1.25em;
    }

    .project-page .project-images-container {
        width: 100%;
        gap: 1.5em;
    }

    .project-page .next-project {
        height: auto;
        /* Remove fixed height */
        padding: 6em 1.25em;
        /* Add padding for breathing room but not full screen */
    }

    .project-page .next-project-img {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
    }

    .project-page .project-img {
        height: auto;
        aspect-ratio: 3/2;
    }
}