.contact {
  position: relative;
  width: 100vw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--base-100);
  color: #e5e7eb;
  overflow: hidden;
}

.contact .screensaver {
  position: absolute;
  background-size: cover;
  background-position: center;
  pointer-events: none;
  z-index: 0;
}

.contact .contact-copy {
  width: 75%;
  max-width: 2000px;
  display: flex;
  padding: 0 2rem;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.contact .contact-copy .contact-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  height: 100%;
  margin-left: 100px;
}

.contact .contact-copy .contact-col:nth-child(1) {
  flex: 3;
}

.contact .contact-copy .contact-col:nth-child(2) {
  flex: 2;
  gap: 2rem;
  align-items: flex-start;
}

.contact .contact-copy .contact-col h2 {
  width: 100%;
  max-width: 32rem;
  text-align: left;
}

.contact .contact-copy p.sm {
  margin-bottom: 0.6rem;
}

.contact .contact-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.contact .contact-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2rem;
}

.contact .contact-footer .contact-socials {
  display: flex;
  gap: 2rem;
}

.contact .contact-footer .contact-socials a {
  color: #6b7280;
}

.contact .contact-footer .contact-socials a:hover {
  color: #9ca3af;
}

@media (max-width: 1000px) {
  .contact {
    height: 100%;
    min-height: 130svh;
    padding: 4rem 0;
  }

  .contact .contact-copy {
    flex-direction: column;
    width: 100%;
    gap: 4rem;
    padding: 1.25rem;
  }

  .contact .contact-copy .contact-col {
    margin-left: 0;
    width: 100%;
  }

  .contact .contact-copy .contact-col h2 {
    width: 90%;
    font-size: 3rem;
  }

  .contact .contact-footer {
    padding-bottom: 4rem;
  }

  .contact .contact-footer .container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 1.25rem;
  }

  .contact .contact-footer .contact-socials {
    flex-direction: column;
    gap: 0.5rem;
  }
}