.featured-work-list {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 8rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.featured-work-list .row {
  margin: 0 auto;
  flex: 1;
  width: 80%;
  display: flex;
  gap: 1.5rem;
}

.featured-work-list .featured-work-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.featured-work-list .featured-work-item-img {
  position: relative;
  aspect-ratio: 16/9;
  border-radius: 1rem;
  overflow: hidden;
}

.featured-work-list .featured-work-item-img img,
.featured-work-list .featured-work-item-img video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured-work-list .featured-work-item-copy {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: #2d2d2d;
  padding: 0.5rem 0.5rem 0.35rem 0.5rem;
  border-radius: 0.5rem;
  z-index: 1;
}

.featured-work-list .featured-work-item-copy h3 {
  font-size: 1.125rem;
  letter-spacing: -0.01rem;
  color: #ffffff;
}

.featured-work-list .featured-work-item-link {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
}

.featured-work-list .featured-work-item-link:hover {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 1000px) {
  .featured-work-list {
    padding: 4rem 1.25rem;
    gap: 2rem;
  }

  .featured-work-list .row {
    width: 100%;
    flex-direction: column;
    gap: 2rem;
  }
}