.showreel {
  position: relative;
  width: 100%;
  height: 100svh;
  background-color: var(--base-100);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.showreel .showreel-container {
  position: relative;
  width: 100%;
  height: 100%;
  transform: scale(0.75);
  border-radius: 2rem;
  overflow: hidden;
}

.showreel .showreel-container img,
.showreel .showreel-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1000px) {
  .showreel {
    display: none;
  }
}